<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign up</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" th:object="${crmUser}" th:action="@{/registration}">
        <h2 class="form-signin-heading">Please sign up</h2>
        <p>
            <label for="email" class="sr-only">Email</label>
            <span style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" th:field="*{email}">
        </p>
        <p>
            <label for="password" class="sr-only">Password</label>
            <span style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
            <input type="password" id="password" name="password" class="form-control" placeholder="Password" th:field="*{password}">
        </p>
        <p>
            <label for="confirmPassword" class="sr-only">confirmPassword</label>
            <span style="color: red" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></span>
            <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirm password" th:field="*{confirmPassword}">
        </p>
        <p>
            <label for="name" class="sr-only">Name</label>
            <span style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            <input type="text" id="name" name="name" class="form-control" placeholder="Name" th:field="*{name}">
        </p>
        <p>
            <label for="lastName" class="sr-only">Name</label>
            <span style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
            <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last name" th:field="*{lastName}">
        </p>
            <input name="_csrf" type="hidden" value="cc75d865-a84e-4afc-a01d-f55be3951085" />
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sing up</button>
    </form>
</div>
</body>
</html>