<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your courses</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<header th:insert="homePage :: header"></header>

    <form class="container" style="margin-left: 450px;">
        <h3>Courses you purchased</h3>
        <div class="card mb-3" style="max-width: 540px;" th:each="course : ${user.getCourses()}">
            <div class="row g-0">
                <div class="col-md-4">
                    <img alt="" th:src="'data:image/jpeg;base64,' + ${course.getImage()}" style="width: 290px;height: 195px;">
                </div>
                <div class="col-md-8">
                    <div class="card-body" style="margin-left: 120px">
                        <h5 class="card-title" th:text="${course.getTitle()}">Card title</h5>
                        <p class="card-text" th:text="'Price: ' + ${course.getPrice()} + '$'"></p>
                        <p class="card-text" th:text="'Author: ' + ${course.getOwner().getName()} + ' ' + ${course.getOwner().getLastName()}"></p>
                        <a th:href="@{'/course/details/' + ${course.getId()}}"><input class="btn btn-outline-secondary" value="Details" style="margin-top: 10px;"></a>
                    </div>
                </div>
            </div>
        </div>
    </form>

</body>
</html>